## Agrimet Parser

In [28]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import os
from datetime import datetime, timedelta

### Download Historical Data

In [3]:
# Define the URL with historical data
#url = "https://www.usbr.gov/pn-bin/instant.pl?station=FOGO&year=2023&month=5&day=10&year=2023&month=12&day=26&pcode=OBM&pcode=TU&pcode=WS&pcode=SI&pcode=PC&print_hourly=1" 

# GET request to get the URL
#response = requests.get(url)

In [12]:
# Check if the request was successful
#if response.status_code == 200:
    # Parse the HTML content
    #html_content = response.text

    # Create a BeautifulSoup object
    #soup = BeautifulSoup(html_content, 'html.parser')

    # Find all <pre> elements 
    #pre_elements = soup.find_all('pre')

    # Check if there are two <pre> elements
    #if len(pre_elements) >= 2:
        # Get the content of the second <pre> element
        #pre_element = pre_elements[1]

        # Split the text by lines
        #lines = pre_element.text.strip().split('\n')

        # Split the lines into columns based on comma 
        #data = [line.split(',') for line in lines]
    #else:
        #print("Unable to find the 2nd <pre> element.")
#else:
    #print(f"Failed to retrieve data from {url}. Status code: {response.status_code}")

In [18]:
# Create a pandas DataFrame
#df = pd.DataFrame(data)[3:-1]

# Rename the columns
#df.columns = ["DATETIME", "FOGO OBM", "FOGO TU", "FOGO WS", "FOGO SI", "FOGO PC"]

#df

,DATETIME,FOGO OBM,FOGO TU,FOGO WS,FOGO SI,FOGO PC
3,05/10/2023 01:00,52.03,74.63,4.39,0.00,21.58
4,05/10/2023 02:00,50.76,77.16,3.00,0.00,21.58
5,05/10/2023 03:00,50.12,79.50,4.00,0.00,21.58
6,05/10/2023 04:00,46.89,92.50,4.10,0.00,21.58
7,05/10/2023 05:00,44.63,98.70,1.23,0.00,21.58
...,...,...,...,...,...,...
5537,12/26/2023 19:00,45.58,84.90,4.19,0.00,42.75
5538,12/26/2023 20:00,44.90,86.30,2.10,0.00,42.75
5539,12/26/2023 21:00,45.51,77.07,2.88,0.00,42.75
5540,12/26/2023 22:00,45.48,74.76,4.63,0.00,42.75
5541,12/26/2023 23:00,45.40,72.96,4.58,0.00,42.75

In [20]:
# Define the folder path where you want to save the CSV
#folder_path = "U:/Research_and_Innovation/_ModellingGroupProjects/ThomasDairy_Continuous Data/ThomasDairy_Data/Meteorological"

# Save the DataFrame as a CSV file in the specified folder
#csv_file_path = os.path.join(folder_path, 'FOGO.csv')
#df.to_csv(csv_file_path, index=False)

### Add New Data and Update CSV File

In [53]:
# Define the CSV file path where the data is saved
csv_file_path  = "U:/Research_and_Innovation/_ModellingGroupProjects/ThomasDairy_Continuous Data/ThomasDairy_Data/Meteorological/FOGO.csv"

In [54]:
# Check if the CSV file exists
if os.path.exists(csv_file_path):
    # Load the CSV file into a DataFrame
    existing_df = pd.read_csv(csv_file_path)

    # Check if the DataFrame has a 'DATETIME' column
    if 'DATETIME' in df.columns:
        # Convert the 'DATETIME' column to a datetime object
        existing_df['DATETIME'] = pd.to_datetime(existing_df['DATETIME'], format='%m/%d/%Y %H:%M')

        # Find the maximum date in the 'DATETIME' column
        max_date = existing_df['DATETIME'].max()

     # Calculate the new end date by adding one day
        new_start_date = max_date + timedelta(days=1)

        # Extract the year, month, and day from the new end date
        start_year = new_start_date.year
        start_month = new_start_date.month
        start_day = new_start_date.day

        # Print the new end date components
        print(f"New End Date (One Day Newer): {start_year}-{start_month}-{start_day}")
    else:
        print("The DataFrame does not have a 'DATETIME' column.")
else:
    print(f"CSV file '{csv_file_path}' does not exist.")

New End Date (One Day Newer): 2023-12-25

In [55]:
def generate_url(start_year, start_month, start_day, end_year, end_month, end_day):
    # Station and pcodes (parameter codes)
    station = "FOGO"
    pcodes = ["OBM", "TU", "WS", "SI", "PC"]

    # Base URL
    base_url = "https://www.usbr.gov/pn-bin/instant.pl?"

    # Construct the URL with parameters
    url = f"{base_url}station={station}&year={start_year}&month={start_month}&day={start_day}&year={end_year}&month={end_month}&day={end_day}"

    # Add the parameter codes (pcodes) to the URL
    for pcode in pcodes:
        url += f"&pcode={pcode}"

    # Add the 'print_hourly' parameter
    url += "&print_hourly=1"

    return url

In [56]:
# Example usage:
end_year = 2023
end_month = 12
end_day = 26

# Generate the URL
url = generate_url(start_year, start_month, start_day, end_year, end_month, end_day)

print(url)

https://www.usbr.gov/pn-bin/instant.pl?station=FOGO&year=2023&month=12&day=25&year=2023&month=12&day=26&pcode=OBM&pcode=TU&pcode=WS&pcode=SI&pcode=PC&print_hourly=1

In [57]:
# GET request to get the URL
response = requests.get(url)

In [58]:
# Check if the request was successful
if response.status_code == 200:
    # Parse the HTML content
    html_content = response.text

    # Create a BeautifulSoup object
    soup = BeautifulSoup(html_content, 'html.parser')

    # Find all <pre> elements 
    pre_elements = soup.find_all('pre')

    # Check if there are two <pre> elements
    if len(pre_elements) >= 2:
        # Get the content of the second <pre> element
        pre_element = pre_elements[1]

        # Split the text by lines
        lines = pre_element.text.strip().split('\n')

        # Split the lines into columns based on comma 
        data = [line.split(',') for line in lines]
    else:
        print("Unable to find the 2nd <pre> element.")
else:
    print(f"Failed to retrieve data from {url}. Status code: {response.status_code}")

In [59]:
# Create a pandas DataFrame
new_df = pd.DataFrame(data)[3:-1]

# Rename the columns
new_df.columns = ["DATETIME", "FOGO OBM", "FOGO TU", "FOGO WS", "FOGO SI", "FOGO PC"]

new_df

,DATETIME,FOGO OBM,FOGO TU,FOGO WS,FOGO SI,FOGO PC
3,12/25/2023 01:00,39.82,98.40,0.00,0.00,41.75
4,12/25/2023 02:00,39.69,98.70,0.00,0.00,41.86
5,12/25/2023 03:00,38.62,98.30,2.46,0.00,41.89
6,12/25/2023 04:00,38.20,97.60,1.41,0.00,41.93
7,12/25/2023 05:00,38.22,98.30,1.27,0.00,41.95
8,12/25/2023 06:00,38.38,98.90,1.80,0.00,41.99
9,12/25/2023 07:00,38.42,98.90,2.14,0.00,42.05
10,12/25/2023 08:00,38.46,99.00,0.94,0.07,42.10
11,12/25/2023 09:00,38.61,99.10,1.07,0.57,42.13
12,12/25/2023 10:00,38.90,99.10,0.59,1.99,42.17
13,12/25/2023 11:00,39.34,99.10,1.44,2.62,42.19
14,12/25/2023 12:00,39.80,99.00,1.28,3.37,42.27
15,12/25/2023 13:00,40.27,98.80,1.16,2.24,42.37
16,12/25/2023 14:00,40.47,98.50,0.25,2.21,42.43
17,12/25/2023 15:00,40.64,98.40,0.10,1.36,42.47
18,12/25/2023 16:00,40.78,98.20,0.13,0.71,42.47
19,12/25/2023 17:00,40.80,97.70,1.20,0.01,42.47
20,12/25/2023 18:00,40.93,97.90,0.51,0.00,42.47
21,12/25/2023 19:00,40.46,98.30,0.07,0.00,42.47
22,12/25/2023 20:00,40.30,98.40,2.49,0.00,42.47
23,12/25/2023 21:00,40.85,97.00,2.86,0.00,42.54
24,12/25/2023 22:00,41.09,97.70,0.12,0.00,42.59
25,12/25/2023 23:00,41.55,98.40,4.85,0.00,42.71
26,12/26/2023 00:00,41.30,98.70,1.12,0.00,42.74
27,12/26/2023 01:00,38.44,98.90,1.23,0.00,42.74
28,12/26/2023 02:00,40.60,99.60,1.72,0.00,42.74
29,12/26/2023 03:00,41.76,99.50,1.33,0.00,42.74
30,12/26/2023 04:00,41.54,99.40,0.41,0.00,42.74
31,12/26/2023 05:00,42.31,99.50,1.35,0.00,42.74
32,12/26/2023 06:00,42.04,99.50,1.18,0.00,42.74
33,12/26/2023 07:00,42.18,99.60,0.99,0.00,42.74
34,12/26/2023 08:00,42.52,99.60,2.62,0.18,42.74
35,12/26/2023 09:00,42.99,99.70,0.94,1.40,42.75
36,12/26/2023 10:00,42.94,99.50,0.78,4.44,42.75
37,12/26/2023 11:00,43.97,99.20,0.35,10.33,42.75
38,12/26/2023 12:00,44.76,97.00,2.11,7.46,42.75
39,12/26/2023 13:00,45.41,90.90,3.32,10.02,42.75
40,12/26/2023 14:00,45.70,86.90,2.60,9.87,42.75
41,12/26/2023 15:00,45.99,89.80,0.42,5.20,42.75
42,12/26/2023 16:00,46.07,89.70,4.45,1.34,42.75
43,12/26/2023 17:00,45.75,89.50,5.00,0.01,42.75
44,12/26/2023 18:00,45.48,91.30,4.49,0.00,42.75
45,12/26/2023 19:00,45.58,84.90,4.19,0.00,42.75
46,12/26/2023 20:00,44.90,86.30,2.10,0.00,42.75
47,12/26/2023 21:00,45.51,77.07,2.88,0.00,42.75
48,12/26/2023 22:00,45.48,74.76,4.63,0.00,42.75
49,12/26/2023 23:00,45.40,72.96,4.58,0.00,42.75

In [68]:
# Append the new data to the existing dataframe
combined_df = pd.concat([existing_df, new_df], ignore_index=True)
combined_df

,DATETIME,FOGO OBM,FOGO TU,FOGO WS,FOGO SI,FOGO PC
0,2023-05-10 01:00:00,52.03,74.63,4.39,0.0,21.58
1,2023-05-10 02:00:00,50.76,77.16,3.0,0.0,21.58
2,2023-05-10 03:00:00,50.12,79.5,4.0,0.0,21.58
3,2023-05-10 04:00:00,46.89,92.5,4.1,0.0,21.58
4,2023-05-10 05:00:00,44.63,98.7,1.23,0.0,21.58
...,...,...,...,...,...,...
5581,12/26/2023 19:00,45.58,84.90,4.19,0.00,42.75
5582,12/26/2023 20:00,44.90,86.30,2.10,0.00,42.75
5583,12/26/2023 21:00,45.51,77.07,2.88,0.00,42.75
5584,12/26/2023 22:00,45.48,74.76,4.63,0.00,42.75
5585,12/26/2023 23:00,45.40,72.96,4.58,0.00,42.75

In [87]:
# Check if there are any empty rows
empty_rows = combined_df[combined_df.isnull().all(axis=1)]
# Remove the empty rows 
combined_df = combined_df.dropna(how='all')

# Reset the index 
combined_df = combined_df.reset_index(drop=True)

In [88]:
# Save the combined dataframe back to the CSV file
combined_df.to_csv('U:/Research_and_Innovation/_ModellingGroupProjects/ThomasDairy_Continuous Data/ThomasDairy_Data/Meteorological/FOGO.csv', index=False)

In [89]:
# Close the file explicitly
csv_file = open('U:/Research_and_Innovation/_ModellingGroupProjects/ThomasDairy_Continuous Data/ThomasDairy_Data/Meteorological/FOGO.csv', 'a')
csv_file.close()